/* General + Mobile */

body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 95%); 
    background-color: hsl(0, 0%, 95%);

    /*Sticky Footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.7em;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    padding: 1.5em;
}

section{
    padding: 2em;
    line-height: 1.7em;
}

.sedan{
    background-color:hsl(31, 77%, 52%);
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

.suv{
    background-color:hsl(184, 100%, 22%);
}

.luxury{
    background-color:hsl(179, 100%, 13%);
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}

button{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px; 
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background: #F2F2F2;
    padding: 12px 28px 12px 28px;
    text-decoration: none;
    border-color: #F2F2F2;
    border-style: solid;
    margin-top: 1em;
}

.flex-item button:hover{
    background-color: transparent;
    color: #F2F2F2;
}

.sedan button{
    color:hsl(31, 77%, 52%);
}

.suv button{
    color:hsl(184, 100%, 22%);
}

.luxury button{
    color:hsl(179, 100%, 13%);
}



footer{
    margin-top: auto; /*Sticky Footer*/
    padding: 1em 0 1em 0;
}
       
footer p{
    padding: 0px 15px 0px 15px;
    text-align: center;
    color: #000;
}

/* Flex Mobile */
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

/* Flex Mobile */

/* Tablet + Desktop*/

@media only screen and (min-width: 825px){
    
    main{
        margin: auto;
        max-width: 57.5rem;
        padding: 0;
    }
    section {
        padding: 3em;
    }
    section p{
        padding: .5em 0 3em 0;
    }
    .sedan{
        border-top-left-radius: 3%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 0%;
    }
    
    .luxury{
        background-color:hsl(179, 100%, 13%);
        border-top-right-radius: 3%;
        border-top-left-radius: 0%;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 0%;
    }
    
    /* Flex */
    .flex-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        }
    
    .flex-item:nth-child(1) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        }
    
    .flex-item:nth-child(2) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        }
    
    .flex-item:nth-child(3) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        }
    /* Flex */
}